@import "tailwindcss";

@theme inline {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-accent: #b851d5;
    --font-sans: var(--font-cabinet);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--color-primary);
    color: var(--color-secondary);
    font-size: 14px;
    font-family: var(--font-sans);
}
