@import "tailwindcss";

:root {
    --vh: 1vh;
}

@theme inline {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-accent: #b851d5;
    --color-tetiary: #450058;
    --font-cabinet: var(--font-cabinet);
    --font-mono: var(--font-geist-mono);
}

body {
    background: rgb(248, 248, 248);
    color: var(--color-secondary);
    font-size: 14px;
    font-family: var(--font-cabinet);
}
